.container {
    background: #fffefb;

    margin: 25px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 11px;

    grid-auto-rows: minmax(200px, auto);
    grid-gap: 1rem;
}

@media (max-width: 1400px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1050px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 690px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.card {
    background: grey;
    width: 300px;
    height: 360px;
    border-radius: 15px;
    text-align: center;
    padding: 4px 14px;
    color: #49485e;
    cursor: pointer;
}

.card_content {
    padding: 0 16px 24px 16px;
    text-align: left;
    color: #3f3f3f;
}

.card_content > h2 {
    font-size: 1.2rem;
}

.card_content > .price {
    font-weight: 600;
    font-size: 1.3rem;
}

.thumbnail {
    text-align: center;
}
.wrapp {
    padding: 16px 0 0 0;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    background: red;
}

.itemImg {
    margin: 15px 0;
    height: 150px;
}
